$button_Radius: 30px;
$button_Padding: 15px 28px;
$button_Padding_Arrow: 58px;
$button_FontSize: 20px;
$button_LetterSpacing: calc($button_FontSize * 0.05);

.button {
    display: inline-block;
    font-size: $button_FontSize;
    padding: $button_Padding;
    border-radius: $button_Radius;
    letter-spacing: $button_LetterSpacing;
    padding-right: $button_Padding_Arrow;
    text-decoration: none;

    &.light {
        border: 1px solid $br-blue;

        &:hover {
            background-color: $br-blue;
            color: $br-white;
        }
    }

    &.dark {
        border: 1px solid $br-white;

        &:hover {
            background-color: $br-white;
            color: $br-black;
        }
    }
}