$button_Radius: 30px;
$button_Padding: 15px 28px;
$button_Padding_Arrow: 58px;
$button_FontSize: 20px;
$button_LetterSpacing: calc($button_FontSize * 0.05);

a.button {
    display: inline-block;
    font-size: $button_FontSize;
    padding: $button_Padding;
    border-radius: $button_Radius;
    letter-spacing: $button_LetterSpacing;
    padding-right: $button_Padding_Arrow;
    text-decoration: none;
    font-family: $regularFont;
}

.page-cream, 
.page-white {
    
    a.button {
        border: 1px solid $br-white;
        color: $br-black;

        &:active, 
        &:visited {
            color: $br-black;
        }
        &:hover {
            background-color: $br-white;
            color: $br-black;
        }
    }
}

.page-black {
    a.button {
        border: 1px solid $br-white;
        color: $br-white;

        &:active, 
        &:visited {
            color: $br-white;
        }
        &:hover {
            background-color: $br-white;
            color: $br-black;
        }
    }
}