.flex{
	&-center{
		align-content: center;
		justify-content: center;
		align-items: center;
		justify-items: center;
		display: flex;
	}
	&-align-left{
		align-content: center;
		justify-content: left;
		
		justify-items: center;
		display: flex;
		padding: 0 0 !important;
		img{
			margin-top: 5vh;
			@include max-width('small') {
				margin-top: 0;
			}
		}
	}
	&-top{
		align-content: center;
		justify-content: center;
		justify-items: center;
		display: flex;
	}
	&-align-center{
		align-items: center;
		display: flex;
		& > div{
			width: 100%;
		}
	}
	&-align-bottom{
		
	    display: flex;
	    
	    p{
	    	align-self: flex-end;
	    }
		& > div{
			width: 100%;
		}
	}
	&-category{
		display: flex;
		align-items: center;
		justify-items: center;
		align-content: center;
		justify-content: center;
		border-bottom: 1px solid $color-xlgrey;
		padding-bottom: 25px;
		margin-bottom: 25px;
		@include max-width('small') {
			padding-bottom: 25px;
			padding-top: 25px;
		}
		div{
			flex: 1;
		}
	}
	&-wrap-up{
		min-height: 260px;
		.flex-bottom{
			align-items: flex-end;
		    align-content: flex-end;
		    justify-content: flex-end;
		    display: flex;

		}
		.flex-top{
			align-items: top;
			align-content: top;
			justify-content: top;
		}
	}
}