.pagination{
    text-align:center;
    margin-bottom:80px;
    ul{
        text-align:center;
        li{
            list-style: none;
            padding: 0 10px;
        }
    }
    a{
        color:black;
        text-decoration:none
    }
}