@include max-width('small') {
    #menu-main-menu{
	    text-align: center;
		padding-top: 150px;
	    li{
            margin-left: 0;
            margin-top: 20px;
            a{
			    font-family: $font-bold;
				font-size: 36px !important;
            }
		}
		&:last-child{
			padding: 0px 70px 8px 70px !important;
			margin-top: 20px;
			    a{
			    	font-size: 16px !important;
			    	letter-spacing: 1px;
			    	font-family: $font-bold;
			    }
			
		}
	}

    /* Burger Menu */
    .burger-menu {
       right: 30px;
       top: -25px;
    }
    .burger-menu.dark  {
        margin: 60px auto;
    }
    .burger-menu--opened {
          display: block;
          opacity: 1;
    }
      
}