@include max-width('small') {
    .multiple-carousel{
        right: 10px;
        margin-top: -6px;
        margin-bottom: 70px;

        .slick-dots{
		    margin-bottom: 0;
		}
    
		.slick{
			&-prev{
				top: 92%;
				left: 25px;
				height: 25px;
				width: 25px;
			}
			&-next{
				top: 92%;
				left: 60px !important;
				height: 25px;
				width: 25px;
			}
		}
	}
}