@mixin body-16(){//Neue Montreal
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 15px;
    padding-bottom: 0;
}

@mixin body-20(){//Neue Montreal
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 20px;
    padding-bottom: 0;
}

@mixin body-35(){//Neue Montreal
    font-size: 35px;
    line-height: 1.3em;
    margin-bottom: 20px;
    padding-bottom: 0;
}

@mixin headline-20 {//PP Neue Montreal
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 0;
    padding-bottom: 0;
}

@mixin headline-30 {//PP Neue Montreal
    font-weight: bold;
    font-size: 30px;
    line-height: 1.3em;
    margin-bottom: 0;
    padding-bottom: 0;
}

@mixin headline-50 {//PP Neue Montreal
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

@mixin headline-75 {//PP Neue Montreal
    font-weight: bold;
    font-size: 75px;
    line-height: 1.2em;
    margin-bottom: 0;
    padding-bottom: 0;
}