/* line 1, ../scss/layout/_general.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, ../scss/layout/_general.scss */
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 14, ../scss/layout/_general.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 1, ../scss/layout/_footer.scss */
#footer {
  background-color: #0627CA;
  color: #FFFFFF;
  height: 80px;
}
/* line 6, ../scss/layout/_footer.scss */
#footer a {
  color: #FFFFFF;
}

@media (min-width: 375px) {
  /* line 9, ../scss/layout/_grid.scss */
  .grid {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}

/* line 7, ../scss/elements/_buttons.scss */
.button {
  display: inline-block;
  font-size: 20px;
  padding: 15px 28px;
  border-radius: 30px;
  letter-spacing: calc($button_FontSize * 0.05);
  padding-right: 58px;
  text-decoration: none;
}
/* line 16, ../scss/elements/_buttons.scss */
.button.light {
  border: 1px solid #0627CA;
}
/* line 19, ../scss/elements/_buttons.scss */
.button.light:hover {
  background-color: #0627CA;
  color: #FFFFFF;
}
/* line 25, ../scss/elements/_buttons.scss */
.button.dark {
  border: 1px solid #FFFFFF;
}
/* line 28, ../scss/elements/_buttons.scss */
.button.dark:hover {
  background-color: #FFFFFF;
  color: #000000;
}

/* line 1, ../scss/modules/_floors.scss */
.floors {
  grid-template-columns: repeat(12, 1fr);
}
@media (min-width: 1280px) {
  /* line 1, ../scss/modules/_floors.scss */
  .floors {
    grid-template-areas: "floor-toggle floor-toggle . floor-list floor-list floor-list floor-list floor-list floor-list floor-list floor-list .";
  }
}
@media (min-width: 1920px) {
  /* line 1, ../scss/modules/_floors.scss */
  .floors {
    grid-template-areas: "floor-toggle floor-toggle . floor-list floor-list floor-list floor-list floor-list floor-list . . .";
  }
}
/* line 12, ../scss/modules/_floors.scss */
.floors .occupied {
  background-color: var(--occupiedColor);
}
/* line 13, ../scss/modules/_floors.scss */
.floors .available {
  background-color: var(--availableColor);
}
/* line 15, ../scss/modules/_floors.scss */
.floors .floor-toggle {
  grid-area: floor-toggle;
}
/* line 18, ../scss/modules/_floors.scss */
.floors .floor-toggle .legend {
  display: block;
  height: 35px;
  color: #FFFFFF;
  line-height: 35px;
  padding-left: 10px;
}
/* line 27, ../scss/modules/_floors.scss */
.floors .floor-list {
  grid-area: floor-list;
  width: 75%;
}
/* line 31, ../scss/modules/_floors.scss */
.floors .floor-list .floor {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
}
/* line 37, ../scss/modules/_floors.scss */
.floors .floor-list .floor .floor-number {
  position: absolute;
  z-index: 2;
  color: #FFFFFF;
}
/* line 43, ../scss/modules/_floors.scss */
.floors .floor-list .floor .unit {
  flex: 1;
  height: 35px;
  color: #FFFFFF;
}
/* line 48, ../scss/modules/_floors.scss */
.floors .floor-list .floor .unit .hidden {
  display: none;
}

@media (min-width: 375px) {
  /* line 3, ../scss/modules/_keep_exploring.scss */
  .keep-exploring .title {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}
@media (min-width: 375px) {
  /* line 10, ../scss/modules/_keep_exploring.scss */
  .keep-exploring .blocks {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}
@media (min-width: 375px) {
  /* line 10, ../scss/modules/_keep_exploring.scss */
  .keep-exploring .blocks {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 375px) {
  /* line 2, ../scss/modules/_one_col_copy_image.scss */
  .one-col-copy-image .copy {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}

@media (min-width: 375px) {
  /* line 4, ../scss/modules/_title_multiple_columns.scss */
  .title-multiple-columns .title {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}
@media (min-width: 375px) {
  /* line 9, ../scss/modules/_title_multiple_columns.scss */
  .title-multiple-columns .copy-blocks {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}
@media (min-width: 1280px) {
  /* line 9, ../scss/modules/_title_multiple_columns.scss */
  .title-multiple-columns .copy-blocks {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* line 18, ../scss/modules/_title_multiple_columns.scss */
div {
  border: 1px solid green;
}

@media (min-width: 375px) {
  /* line 3, ../scss/modules/_two_col_copy_image.scss */
  .two-col-copy-image .copy {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}
@media (min-width: 375px) {
  /* line 3, ../scss/modules/_two_col_copy_image.scss */
  .two-col-copy-image .copy {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 375px) {
  /* line 12, ../scss/modules/_two_col_copy_image.scss */
  .two-col-copy-image .image-container {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}
@media (min-width: 1024px) {
  /* line 12, ../scss/modules/_two_col_copy_image.scss */
  .two-col-copy-image .image-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "img img img img img img img img ...." "cap cap cap cap cap cap cap cap ....";
  }
}
/* line 22, ../scss/modules/_two_col_copy_image.scss */
.two-col-copy-image .image-container .image {
  grid-area: img;
}
/* line 26, ../scss/modules/_two_col_copy_image.scss */
.two-col-copy-image .image-container .caption {
  grid-area: cap;
}

@media (min-width: 375px) {
  /* line 1, ../scss/modules/_two_col_image.scss */
  .two-col-image {
    display: grid;
    margin: 0 40px;
    column-gap: 20px;
  }
}
@media (min-width: 375px) {
  /* line 1, ../scss/modules/_two_col_image.scss */
  .two-col-image {
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
