.card-carousel {

    margin-top: 40px;

    @media #{$mq-tablet-port} {
        margin-top: calc(100vw / 12);
    }



    h3 {
        @include headline-20;
        margin-right: 10px;
    }

    p {
        @include body-20;
        margin-right: 10px;
    }

    .swiper-slide {
        padding: 0 10px;
    }

    .swiper-pagination-bullets {
        height: 3px;
        width: calc(100% - 80px);
        display: flex;
        margin-left: 40px;
        margin-top: 40px;
        background-color: $br-blue  !important;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;

        .swiper-pagination-bullet {
            flex: 1;
            height: 3px;
            border-radius: 0;
            padding: 0;
            margin: 0;
            opacity: 0;

            &.swiper-pagination-bullet-active {
                background: $br-blue;
            }
        }

        .swiper-pagination-bullet-active~.swiper-pagination-bullet {
            background: lighten($br-grey, 25%);
            opacity: 1;
        }
    }
}