.contact-module-container {
    background-color: #000000;
    width: 100vw;
    padding-top: calc(100vw / 12);
    padding-bottom: calc(100vw / 12);

    .contacts-container {
        @include grid;
        
        @media #{$mq-tablet-port}{
            grid-template-columns: 6fr 1fr 5fr;
            grid-template-areas: "contacts . img ";
        }

        .left {
            @include grid;
            grid-area: contacts;
            margin: 0 !important;
            padding-top: calc(100vw / 12);

            h2 {
                @include headline-30;
                padding-bottom: calc(100vw / 24);
                color: white;
                margin-left: 20px;
                margin-bottom: 40px;

                @media #{$mq-tablet-port}{
                    @include headline-50;
                    margin-left: 0;
                    margin-bottom: 0;
                }
            }

            img {
                width: 100px;
                margin-left: 20px;
                margin-bottom: 40px;

                @media #{$mq-tablet-port}{
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 0;
                }   
            }
        }

        .contacts {
            @include grid;
            
            @media #{$mq-tablet-port}{
                padding-top: calc(100vw / 24);
                margin: 0 !important;
                grid-template-columns: repeat(3, 1fr);
            }

            .contact {
                margin: 20px;
                border-top: 2px solid white;
                @include body-20;
                color: $br-white;

                @media #{$mq-tablet-port}{
                    margin: 0;
                }

                h3, h4 {
                    @include body-20;
                }

                h3 {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                h4 {
                    margin-top: 0;
                }

                a {
                    color: $br-white;
                }

                &:last-child {
                    padding-bottom: 40px;

                    @media #{$mq-tablet-port}{
                        padding-bottom: 0;    
                    }
                }
            }
        }

        .image-container {
            grid-area: img;

            @media #{$mq-tablet-port}{
                position: sticky;
                top: 0;
            }
        }
    }

    .contact-logo {
        width: calc((100vw - 80px) / 12);
    }       
}

.contact-open .contact-module-container {
    transform: translateX(0);
}
