.copy-two-images {
    @include grid;

    @media #{$mq-tablet-port}{
        margin: 0 40px calc(100vw / 12) 40px;
        grid-template-columns: 6fr 2fr 4fr;
        grid-template-areas: "copy-image . image-container";
    }

    .copy-image {
        grid-area: copy-image;
        
        .copy {
            padding-bottom: calc(100vw / 12);
           
            p {
                @include body-35;

                &:last-of-type {
                    margin-top: 0;
                }

                span {
                    color: $br-blue;
                    @include body-20;
                }
            } 
        }
    }
    
    .image-container {
        grid-area: image-container;
        padding-top: calc(100vw / 12);
    }

    &.mirrored {
        @media #{$mq-tablet-port}{
            grid-template-columns: 6fr 1fr 5fr;
            grid-template-areas: "image-container . copy-image";
        }
        .image-container {
            padding-top: 0;
        }
        
        .copy-image .image-container {
            @media #{$mq-tablet-port}{
                display: grid;
                grid-template-columns: 1fr 4fr;
                grid-template-areas: 
                    ". img"
                    ". cap";
            }

            .image {
                grid-area: img;
            }
            .caption {
                grid-area: cap;
            }

        }

        .copy {
            padding-top: calc(100vw / 12);
        }
    }
}