.floors {
    margin-bottom: calc(100vw / 12);
    
    @media #{$mq-mobile}{
        grid-template-columns: 2fr 1fr 8fr 1fr;
        grid-template-areas:  "floor-toggle . floor-list .";
    }

    @media #{$mq-desk-large}{
        grid-template-columns: 2fr 1fr 6fr 3fr;
        grid-template-areas:  "floor-toggle . floor-list .";
    }
    
    .occupied { background-color: var(--occupiedColor); }
    .available { background-color: var(--availableColor); }

    .floor-toggle {
        grid-area: floor-toggle;

        .legend {
            display: block;
            height: 35px;
            color: $br-white;
            @include body-20;
            font-size: 14px;
            margin: 0;
            padding: 0;      
            line-height: 35px;
            padding-left: 10px;  
        }
    }   

    .floor-list {
        grid-area: floor-list;
        width: 75%;

        &.hide-occupied .floor-occupied {
            display: none;
        }

        .floor {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            gap: 5px;
            position: relative;

            header {
                position: relative;
                z-index: 1;
                .floor-header_floor-number, 
                .floor-header_name-sqft {
                    display: inline-block;
                    @include body-20;
                    font-size: 14px;
                    line-height: 35px;
                    padding: 0;
                    margin: 0;
                }

                .floor-header_name-sqft {
                    position: absolute;
                    left: calc((100vw / 24) + 10px);
                }

                .floor-header_floor-number {
                    margin-left: 10px;
                }
            }

            &.expanded {
                height: 400px;
                background-color: var(--availableColor);
            
                .unit {
                    display: none;
                }
            }

            .floor-number {
                position: absolute;
                z-index: 2;
                color: $br-white;
            }

            .unit {
                flex: 1;
                height: 35px;
                color: $br-white;

                .close-unit {
                    display: none;
                }

                .content {
                    display: none;
                    grid-template-columns: repeat(12, 1fr);
                    grid-template-areas:  ". data data data data . img img img img img . .";

                    .data {
                        grid-area: data;
                        display: block;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        
                        li {
                            display: grid;
                            padding: 15px 0;
                            border-top: 2px solid white;
                            grid-template-columns: 1fr 1fr;
                            gap: 0px 10px;

                            &:first-of-type {
                                border-style:none;
                                display: block;
                                padding-top: 0;
                            }
                            
                            span {
                                display: block;
                                overflow: hidden;                            
                                
                                &:last-of-type {
                                    justify-self: end;
                                }
                            }

                            h3 {
                                padding-top: 0;
                                margin-top: 0;
                            }
                        }
                    }

                    .image {
                        display: block;
                        overflow: hidden;
                        grid-area: img;
                    }
                }

                &.selected {
                    width: 100%;
                    display: block;
                    position: relative;

                    .close-unit {
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        z-index: 2;
                    }

                    .content {
                        display: grid;
                        padding: 20px;
                    }
                }
            }
        }
    }
}