.floors {
	margin-top: 40px;

	@media #{$mq-tablet-port} {
		margin-top: calc(100vw / 12);
		grid-template-columns: 3fr 9fr;
		grid-template-areas: "floor-toggle floor-list";
	}

	@media #{$mq-desk-small} {
		grid-template-columns: 2fr 1fr 8fr 1fr;
		grid-template-areas: "floor-toggle . floor-list .";
	}

	@media #{$mq-desk-large} {
		grid-template-columns: 2fr 1fr 6fr 3fr;
		grid-template-areas: "floor-toggle . floor-list .";
	}

	.occupied {
		background-color: var(--occupiedColor);
	}

	.available {
		background-color: var(--availableColor);
	}

	.floor-toggle {
		grid-area: floor-toggle;
		padding: 0 20px 20px 20px;

		@media #{$mq-tablet-port} {
			padding: 0 0 0 0;
		}

		.legend {
			display: block;
			height: 35px;
			color: $br-white;
			@include body-20;
			font-size: 14px;
			margin: 0;
			padding: 0;
			line-height: 35px;
			padding-left: 10px;
			margin-bottom: 5px;
		}
	}

	#floor-toggle {
		margin-top: 35px;
	}

	.floor-list {
		grid-area: floor-list;
		padding: 0 20px;

		@media #{$mq-tablet-port} {
			padding: 0 0;
		}

		&.hide-occupied .floor-occupied {
			display: none;
		}

		.floor {
			width: 100%;
			display: flex;
			margin-bottom: 5px;
			gap: 5px;
			position: relative;

			header {
				position: relative;
				z-index: 1;

				.floor-header_floor-number,
				.floor-header_name-sqft {
					display: inline-block;
					@include body-20;
					font-size: 14px;
					line-height: 35px;
					padding: 0;
					margin: 0;
					color: $br-white;
				}

				.floor-header_name-sqft {
					position: absolute;
					left: calc((100vw / 24) + 10px);
					top: 0;
					display: none;

					@media #{$mq-tablet-port} {
						display: block;
					}
				}

				.floor-header_floor-number {
					margin-left: 10px;
				}
			}

			&.expanded {
				background-color: var(--availableColor);
				//min-height: calc(100vh - 80px);
				height: auto;

				@media #{$mq-tablet-desk} {
					height: 460px;
				}

				header {
					display: grid;

					grid-template-columns: 3fr 9fr;
					grid-template-areas: "floor-num floor-sqft";

					@media #{$mq-tablet-desk} {
						grid-template-columns: 2fr 10fr;
					}

					span {
						@include headline-30;
						padding-top: 10px;
						color: $br-white;

						@media #{$mq-tablet-desk} {
							@include headline-50;
						}
					}

					.floor-header_floor-number {
						grid-area: floor-num;
					}

					.floor-header_name-sqft {
						grid-area: floor-sqft;
						position: static;

						display: block;

						@media #{$mq-tablet-port} {
							display: block;
						}
					}
				}

				.unit {
					display: none;
				}
			}

			.floor-number {
				position: absolute;
				z-index: 2;
				color: $br-white;
			}

			.unit {
				flex: 1;
				height: 35px;
				color: $br-white;

				.close-unit {
					display: none;
				}

				.content {
					display: none;

					@media #{$mq-tablet-desk} {
						grid-template-columns: 4fr 7fr 1fr 10fr 2fr;
						grid-template-areas: ". data . img .";
					}

					.data {
						grid-area: data;
						display: block;
						list-style-type: none;
						margin: 0;
						padding: 0;
						overflow: hidden;

						li {
							display: grid;
							padding: 15px 0;
							border-top: 2px solid white;
							grid-template-columns: 2fr 1fr;
							gap: 0px 10px;
							color: $br-white;

							&:first-of-type {
								border-style: none;
								display: block;
								padding-top: 0;
							}

							span {
								display: block;
								overflow: hidden;
								@include body-20;
								line-height: 32px;
								margin-bottom: 0;
								padding-top: 0;
								color: $br-white;

								&:last-of-type {
									justify-self: end;
								}
							}

							a {
								display: block;
								overflow: hidden;
								width: 32px;
								height: 32px;
							}

							h3 {
								padding-top: 0;
								margin-top: 0;
								@include body-20;
								line-height: 32px;
								margin-bottom: 0;
								font-weight: normal;
								color: $br-white;
							}

							svg {
								path {
									stroke: $br-white;
								}
							}
						}
					}

					.image {
						display: block;
						overflow: hidden;
						grid-area: img;
						padding-top: 40px;

						@media #{$mq-tablet-desk} {
							padding-top: 0;
						}
					}
				}

				&.selected {
					width: 100%;
					display: block;
					position: relative;
					height: auto;

					.close-unit {
						display: block;
						position: absolute;
						top: 10px;
						right: 10px;
						z-index: 2;
					}

					.content {
						display: block;
						padding: 40px 20px 20px 20px;

						@media #{$mq-tablet-desk} {
							display: grid;
							padding: 40px 0 0 0;
						}
					}
				}
			}
		}
	}

	.close-unit {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 32px;
		height: 32px;
		border: 0;
		appearance: none;
		padding: 0;
		background-color: transparent;

		svg {
			pointer-events: none;
			transition: all 0.3s ease 0s;

			path {
				stroke: $br-white;
			}
		}

		&:hover {
			svg {
				transform: rotate(90deg);
			}
		}
	}
}