.keep-exploring {
    margin-top: calc(100vw / 12);

    .title {
        @include grid;
        
        h2 {
            @include headline-30;
            margin-bottom: 1em;
            padding: 0 20px;

            @media #{$mq-tablet-port}{
                @include headline-50;
                margin-bottom: 1em;
                margin-top: 0;
                padding: 0 0;
            }
        }
    }

    .blocks {
        @include grid;
        
        @media #{$mq-tablet-port}{
            grid-template-columns: 1fr 1fr;
        }

        .link-text {
            display: block;
            color: $br-black;
            text-decoration: none;
            padding-top: 10px;
            @include headline-30;
            position: relative;
            margin-left: 20px;
            margin-bottom: 30px;

            @media #{$mq-tablet-port}{
                margin-left: 0;
                margin-bottom: 0;
                @include body-35;
            }

            svg {
                display: inline-block;
                position: relative;
                transform: translate(5px, 5px);
                transition: all 0.3s ease 0s;
            }
        }

        .link-image {
            display: block;
            height: auto;
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            line-height: 0;

            &:after {
                display: block;
                content:'';
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgba($br-blue, 0.9);
                opacity: 0;
                transition: all 0.3s ease 0s;
            }
        }

        .explore-block {
            &:hover {
                a {
                    color: $br-blue;

                    &.link-image:after {
                        opacity: 1;
                    }

                    svg {
                        transform: translate(10px, 5px);
                        path {
                            stroke: $br-blue;
                        }
                    }
                }
            }
        }
    }
}

.page-black .keep-exploring .blocks {
    
    .link-text, 
    .explore-block:hover a {
        color: $br-white;

        svg {
            
            path {
                stroke: $br-white;
            }
        }
    }
}