.one-col-copy-image {


    margin-top: 40px;

    @media #{$mq-tablet-port} {
        margin-top: calc(100vw / 12);
    }

    .copy-container {
        @include grid;

        grid-template-columns: 7fr 5fr;
        grid-template-areas: "copy .";

        @media #{$mq-desk-small} {
            grid-template-columns: 5fr 7fr;

        }

        .copy {
            grid-area: copy;

            span {
                color: $br-blue;
            }
        }

        h1 {
            @include headline-30;

            @media #{$mq-tablet-desk} {
                @include headline-50;
            }
        }
    }
}

.one-col-copy-image.page-hero {
    margin-top: 120px;

    .mobile-image-container {
        width: 100vw;
        max-height: 600px;
        height: calc(100vw * 1.152);
        overflow: hidden;

        @media #{$mq-tablet-port} {
            width: auto;
            height: auto;
        }

        img {
            position: relative;
            height: 100%;
            width: auto;
            left: 50%;
            transform: translateX(-50%);

            @media #{$mq-tablet-port} {
                height: auto;
                width: 100%;
            }
        }
    }

    .copy {
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 0 20px;
    }

    @media #{$mq-tablet-port} {
        margin-top: calc((100vw / 12));

        .copy {
            margin-bottom: calc(100vw / 12);
        }
    }

    .copy blockquote p {
        @include headline-30;

        @media #{$mq-tablet-desk} {
            @include headline-50;
        }

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-top: 0;
        }

        span {
            @include body-20;
        }
    }
}