.timeline {
	@include grid;

	@media #{$mq-tablet-port} {
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "timeline-nav timeline-data";
		margin: 0 40px 0 40px;
	}

	@media #{$mq-tablet-desk} {
		grid-template-columns: 3fr 9fr;
		grid-template-areas: "timeline-nav timeline-data";
		margin: 0 40px 0 40px;
	}

	&.has-legal {
		@media #{$mq-tablet-desk} {
			grid-template-columns: 5fr 1fr 6fr;
			grid-template-areas: "timeline-nav . timeline-data";
			margin: 0 40px 0 40px;
		}

		.timeline_data .content {
			@media #{$mq-desk-small} {
				display: block;
			}
		}
	}

	#legal-intro-text {
		p {
			margin: 0;
			padding: 20px 0;
			@include body-20;
		}
	}

	.timeline_nav {
		position: relative;
		grid-area: timeline-nav;

		h2 {
			@include headline-30;
			margin: 40px 0 10px 20px;
			border-top: 2px solid transparent;

			@media #{$mq-tablet-port} {

				@include headline-50;
				margin: 0 0 40px 0;
			}
		}

		.stick {
			@media #{$mq-tablet-port} {
				padding-top: calc(100vw / 12);
				position: sticky;
				top: 0;
			}
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			@include headline-20;

			display: none;

			@media #{$mq-tablet-port} {
				display: block;
			}

			li {
				margin-bottom: 2em;
			}
		}

		button {
			@include headline-20;
			border: 0;
			background-color: transparent;
			appearance: none;
			text-align: left;

			&.active {
				color: $br-blue;
			}

			span {
				display: inline-block;
				margin-right: 5px;

				&:after {
					content: '/';
				}
			}
		}
	}

	.timeline_data {
		grid-area: timeline-data;

		@media #{$mq-tablet-port} {
			padding-top: calc(100vw / 12);
		}

		article:last-of-type {
			border-bottom: 2px solid black;
		}

		header {
			@include headline-30;
			border-top: 2px solid black;
			position: relative;
			padding-top: 30px;
			padding-bottom: 0px;
			overflow: hidden;
			padding-left: 0px;
			line-height: 39px;
			margin-left: 20px;
			margin-right: 20px;


			@media #{$mq-tablet-port} {
				@include headline-30;
				padding-left: 0;
				margin-left: 0;
				margin-right: 0;
			}

			span {
				vertical-align: top;
				display: inline-block;
				line-height: 39px;
			}

			span.number {
				margin-right: 40px;
			}

			span.title {
				display: inline-block;
				@include headline-20;
				line-height: 39px;
				padding: 0;
				margin: 0;
			}

			&:hover {
				color: $br-blue;
			}
		}

		.content {
			@include body-20;
			padding: 10px 20px 0 20px;
			max-height: 0;
			overflow: hidden;

			@media #{$mq-tablet-port} {
				padding: 10px 0 0 0;
			}

			@media #{$mq-desk-small} {
				display: grid;
				grid-template-columns: 6fr 3fr;
			}
		}

		.close {
			display: none;
			position: absolute;
			top: 35px;
			right: 20px;
			width: 32px;
			height: 32px;
			border: 0;
			appearance: none;
			padding: 0;
			background-color: transparent;

			@media #{$mq-tablet-port} {
				top: 33px;
				right: 0px;
			}

			svg {
				pointer-events: none;
				transition: all 0.3s ease 0s;

				path {
					stroke: $br-blue;
				}
			}

			&:hover {
				svg {
					transform: rotate(90deg);
				}
			}
		}

		.active {

			header {
				color: $br-blue;


				span.title {
					max-width: calc(100vw - 190px);

					@include headline-30;

					@media #{$mq-tablet-port} {
						max-width: none;
					}
				}
			}

			.close {
				display: block;
			}

			.content {
				max-height: 100vh;
			}
		}
	}
}