.title-multiple-columns {
    margin-bottom: calc(100vw / 12);
    
    .title {
        @include grid;
        
        @media #{$mq-tablet-port}{
            grid-template-columns: 5fr 7fr;
        }


        h2 {
            @include headline-30;
            padding: 20px;
            
            @media #{$mq-tablet-port}{
                margin-bottom: calc(100vw / 24);
                padding: 0;
                @include headline-50;
            }
        }
    }


    .copy-blocks {
        @include grid;
        
        @media #{$mq-tablet-port}{
            grid-template-columns: repeat(4, 1fr);
        }  

        .copy-block {
            border-top: 2px solid $br-black;
            margin: 20px;

            @media #{$mq-tablet-port}{
                margin: 0;
            }

            h3 {
                @include headline-20;
            }

            p {
                @include body-20;
            }
        }
    }
}