.two-col-image {
    @include grid;

    @media #{$mq-tablet-desk} {
        margin: calc(100vw /12) 40px 0 40px;
    }

    &.equal {
        @media #{$mq-tablet-port} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.small-big {
        display: grid;
        margin: 100px 20px 0 20px;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";

        @media #{$mq-tablet-port} {
            margin: calc(100vw /12) 40px 0 40px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "left right";
        }

        @media #{$mq-tablet-desk} {
            grid-template-columns: 3fr 3fr 6fr;
            grid-template-areas: "left . right";
        }

        div {
            &:first-of-type {
                grid-area: left;

                @media #{$mq-tablet-port} {
                    align-self: center;
                }
            }

            grid-area: right;
        }
    }

    &.big-small {
        @media #{$mq-tablet-desk} {
            grid-template-columns: 6fr 3fr 3fr;
            grid-template-areas: "left . right";
        }

        div {
            grid-area: left;

            &:last-of-type {
                grid-area: right;

                @media #{$mq-tablet-port} {
                    align-self: center;
                }
            }
        }
    }

    &.offset-top {
        div {
            .image {
                margin-top: calc(100vw / 12);
            }
        }

        div:first-of-type {
            align-self: start;

            .image {
                margin-top: 0;
            }
        }
    }
}