.two-col-copy-image {
    
    .copy {
        @include grid;

    
        @media #{$mq-mobile}{
            grid-template-columns: 1fr 1fr;
        }    
    }
    
    .image-container {
        @include grid;

        @media #{$mq-tablet-desk}{
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:  
                "img img img img img img img img ...."
                "cap cap cap cap cap cap cap cap ....";
        }

        .image {
            grid-area: img;
        }

        .caption {
            grid-area: cap;
        }
    }
}

.image-expand .image {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 0;

    img {
        position: relative;
        z-index: 1;
    }

    &:after {
        display: block;
        content:'';
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba($br-blue, 0.9);
        opacity: 0;
    }

    &:hover:after {
        opacity: 1;
    }
}