.two-col-sticky {
    @include grid;

    margin: 100px 20px 0 20px;

    @media #{$mq-tablet-port} {
        margin: 0 40px 0 40px;
        padding-top: calc(100vw / 12);
        grid-template-columns: 5fr 1fr 6fr;
        grid-template-areas: "left . right";
    }

    .left {
        position: relative;
        grid-area: left;


        h2 {
            @include headline-30;
            margin-bottom: 40px;

            @media #{$mq-tablet-port} {
                @include headline-50;
            }

            margin-top: 0;
        }

        .stick {

            @media #{$mq-tablet-port} {
                position: sticky;
                top: 0;
                padding-top: calc(100vw / 12);
            }
        }
    }

    .right {
        grid-area: right;

        @media #{$mq-tablet-port} {
            padding-top: calc(100vw / 12);
        }

        h3 {
            @include body-20;
            font-weight: bold;
            margin-top: 0;
        }

        p {
            @include body-20;
        }


        .button-container {
            text-align: right;

            .button {
                margin-right: 20px;

                @media #{$mq-tablet-port} {
                    margin-right: 0;
                }
            }
        }

        article {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 20px;
            padding-top: 40px;
            border-bottom: 2px solid white;

            &:first-of-type {
                border-top: 2px solid white;
            }

            .number {
                min-width: 80px;
                padding-right: 20px;
                @include headline-30;
                font-weight: normal;
                line-height: 0.9em;

                @media #{$mq-tablet-port} {
                    padding-right: 40px;
                    min-width: 100px;
                    @include headline-50;
                }
            }
        }

        .button-container {
            margin-top: 40px;
        }
    }
}