.button{
	&-availability{
		
		padding-top: 20px;
		font-family: $font-bold;
		font-weight: 100;
		font-size: 18px;
		cursor: pointer;
		transition: 1s all;
		position: relative;
		
		&.active{
			font-family: $font-bold;
			font-weight: 600;
			&:after{
				opacity: 1;
			}
		}
		&:hover{
			font-family: $font-bold;
			font-weight: 600;
			&:after{
				opacity: 1;
			}
		}
		&:after{
				content: '';
				margin-top: 10px;
				height: 2px;
				background: black;
				width: 80px;
				opacity: 0;
				transition: 1s all;
				display: block;
			}
	}
}

.button{
	a{
		text-decoration: none;
	}
	.btn{
		border: 3px solid black;
		font-family: $font-bold;
		font-size: 16px;
		letter-spacing: 1px;
		font-weight: 400;
		text-transform: uppercase;
		color: black;
		padding: 7px 30px 7px 30px;
		margin-bottom: 10px;
		background-color: transparent;
		transition: 1s all;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		width: auto;
		margin-top: 20px;
		&:hover, &.active{
			background-color: #000;
			color: white;
				
		}
		&-white{
			color: #fff;
			border: 3px solid white;
		}
		&--download{
			background: url("../img/icons/download.svg") left 10px center no-repeat;
			&:hover{
				background: #000 url("../img/icons/download.svg") left 5px center no-repeat !important;
				color: white;
			}
		}
	}
}

.cli-plugin-button{
	margin: 0 10px !important;
}

.cli-bar-btn_container{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.cli-plugin-button{
		border: 3px solid black;
		font-family: $font-bold;
		font-size: 12px;
		letter-spacing: 1px;
		font-weight: 400;
		text-transform: uppercase;
		color: black;
		padding: 7px 30px 7px 30px;
		margin: 20px auto;
		background-color: transparent;
		transition: 1s all;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		width: auto;
		
		&:hover, &.active{
			background-color: #000;
			color: white;
				
		}
}


.buttons{
	position: absolute;
	bottom: 60px;
	left: 20px;
	z-index: 99999;
	@include max-width('small') {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 99999999999;
		margin-top: 30px;
		height: 250px;
	}
	.btn{
		border: 3px solid black;
		font-family: $font-bold;
		font-size: 16px;
		letter-spacing: 1px;
		font-weight: 400;
		text-transform: uppercase;
		color: black;
		padding: 7px 50px 7px 50px;
		margin-bottom: 10px;
		background-color: white;
		transition: 1s all;
		cursor: pointer;
		text-align: center;

		@include max-width('small') {
			margin: 2%;
			width: 46%;
			float: left;
		}

		&:hover, &.active{
			background-color: black;
			fill: white;
			color: white;
		}
		&--culture{
			background: #fff url("../img/icons/icon_culture.svg") left 10px center no-repeat;
			&:hover, &.active{
				background: #000 url("../img/icons/icon_culture_white.svg") left 10px center no-repeat;
			}
		}
		&--health{
			background: #fff url("../img/icons/icon_fitness.svg") left 10px center no-repeat;
			&:hover, &.active{
				background: #000 url("../img/icons/icon_fitness_white.svg") left 10px center no-repeat;
			}
		}
		&--retail{
			background: #fff url("../img/icons/icon_shopping.svg") left 10px center no-repeat;
			&:hover, &.active{
				background: #000 url("../img/icons/icon_shopping_white.svg") left 10px center no-repeat;
			}
		}
		&--restaurants{
			background: #fff url("../img/icons/icon_cafe.svg") left 10px center no-repeat;
			&:hover, &.active{
				background: #000 url("../img/icons/icon_cafe_white.svg") left 10px center no-repeat;
			}
		}
		&--transport{
			background: #fff url("../img/icons/icon_transport.svg") left 10px center no-repeat;
			&:hover, &.active{
				background: #000 url("../img/icons/icon_transport_white.svg") left 10px center no-repeat;
			}
		}
	}
}