#menu-main-menu{
	text-align: right;
	
	li{
		list-style: none;
		display: inline-block;
		margin-left: 30px;
		
		letter-spacing: 1px;
		a{
			text-decoration: none;
			color: black;
			font-size: 15px;
			font-family: $font-normal;
			font-weight: 600;
			@include max-width('small') {
				font-family: $font-bold;
				font-size: 36px !important;
			}
			text-transform: uppercase;
		}
		&:last-child{
			border: 3px solid black;
			padding: 10px 20px 10px 20px;
			background: transparent;
			transition: 1s all;
			&:hover{
				background: black;
				color: white;
				a{
					color: white;
				}
			}
		}
	}
}

/* Burger Menu */ 

.burger-menu {
	margin: 60px auto;
	float: right;
	width: 45px;
	display: block;
	transition: all 0.3s;
	cursor: pointer;
	height: 32px;
	right: 80px;
	padding: 10px;
	
	position: fixed;
  
  }
  .burger-menu.dark .bar {
	background-color: black;
  
  }
  .dark-logo{
	position: fixed;
  }
  
  .burger-menu.dark  {
	margin: 25px auto;
	@include max-width('small') {
	  margin: 60px auto;
	}
  }
  .burger-menu .bar {
	transition: all 0.3s;
	height: 3px;
	width: 100%;
	display: block;
	background-color: #fff;
	/* border-radius: 2px; */ 
	&.dark{
	  background-color: #000;
	}
  }
  .burger-menu .bar:nth-of-type(2) {
	margin: 4px 0;
	max-width: 80%;
	float: right;
  }
  .burger-menu .bar:nth-of-type(3) {
  
	max-width: 60%;
	float: right;
  }
  .burger-menu--closed{
	&:hover{
	  .bar{
		width: 100%;
	  }
	}
  }
  .burger-menu--closed {
	transition-delay: 0.3s;
  }
  .burger-menu--closed .bar {
	float: right;
  }
  .burger-menu--closed .bar:nth-of-type(2) {
	width: 26px !important;
	transition: 0.1s all;
  }
  .burger-menu--closed .bar:nth-of-type(3) {
	max-width: 80%;
  
  }
  .burger-menu--closed:hover .bar:nth-of-type(2) {
	width: 100%;
  }
  .burger-menu--closed:hover .bar:nth-of-type(3) {
	width: 100%;
  }
  
  .burger-menu.dark.burger-menu--opened {
	  margin: 80px auto 0;
	  background: black;
	  .bar{
		background-color: white;
	  }
  }
  .burger-menu--opened {
   
	opacity: 0;
	display: none;

  
  }
  .burger-menu--opened .bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	height: 3px;
	
  }
  .burger-menu--opened .bar:nth-of-type(2) {
	opacity: 0;
	height: 0;
	margin: -3px 0;
	max-width: 100%;
  }
  .burger-menu--opened .bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
	height: 3px;
	max-width: 100%;
	margin-top: -3px;
  
  }