#footer {
    background-color: $br-blue;
    color: $br-white;
    height: 80px;
    z-index: 1000;

    a {
        color: $br-white;
    }
}

.contact-open {
    position: fixed;
}

.contact-open #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}