*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  // max-width: 100%;
  height: auto;
}

body {
  &.page-cream {
    background-color: $br-cream;
  }

  &.page-black {
    background-color: $br-black;

    color: $br-white;
  }

  &.page-white {
    background-color: $br-white;
  }
}

blockquote {
  padding: 0;
  margin: 0;
}

.caption {

  p {
    padding: 10px 10px 10px 0px;
    margin: 0;
    @include body-16;
    color: $br-black;

    @media #{$mq-tablet-port} {
      padding: 10px 20px 10px 20px;
    }

    span {
      font-weight: lighter;
    }

    @media #{$mq-tablet-port} {
      padding: 10px 0 0 0;
      @include body-20;
    }
  }
}

.page-black .caption p {
  color: $br-white;
}