.home .header-menu {
    opacity: 0;
}

.home .header-menu.show-menu {
    opacity: 1;
}




.header-menu {
    position: fixed;
    top:0;
    left: 0;
    height: 100px;
    width: 100vw;
    z-index: 3;

    a {
        @include body-20;
    }

    &:after {}

    .logo {
        display: block;
        margin-top: 38px;
        margin-left: 40px;
        height: 26px;
        float: left;
    }
    
    .menu-main-menu-container {
        float: right;
        margin-top: 20px;
        margin-right: 40px;

        .menu {
            list-style-type: none;

            li {
                display: inline-block;
                font-size: 20px;

                &:after {
                    font-weight: bold;
                    content: '/';
                    padding-left: 10px;
                    padding-right: 5px;
                }

                &:last-child:after {
                    display: none;
                }

                a {
                    text-decoration: none;
                    color: black;
                }

                &:hover,
                &.current_page_item {
                    a {
                        color: $br-blue;
                    }
                }

                &.current_page_item a {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $br-blue;
                }
            }
        }
    }

    .burger-menu {
        
        &.burger-menu--closed {

        }
    }
}

.page-white {
    .header-menu {
        background-color: $br-white;
    }
}

.page-cream {
    .header-menu {
        background-color: $br-cream;
    }

    &.home {
        .header-menu {
            background-color: $br-white;
        }
    }
}

.page-black {
    .header-menu {
        background-color: $br-black;

        svg path {
            fill: white;
        }

        .menu-main-menu-container .menu li a {
            color: white;
        }
        .menu-main-menu-container .menu li.current_page_item a {
            border-color: $br-white;
        }
    }
    
}