.full_carousel{
    img{
        width:100%;
    }
    .caption{
        padding-left:15px;
    }
    .slick-dots{
        position: absolute;
        top: 97.4%;
        right:15px;
    }
    
        
    
}