.multiple-carousel{
    text-align: left;
	margin-bottom: 30px;
	p{
		font-size: 16px;
		line-height: 24px;
		text-transform: uppercase;
		font-family: $font-light;
	}
	.font-upper-text{
		font-size: 18px;
		font-family: $font-bold;
	}
    img{
		max-height: 50px;
		max-width: 50px;
	}

    .slick-dots{
		margin-top: 40px;
		margin-bottom: -40px;
		@include max-width('small') {
			margin-bottom: 0;
		}
	}
	@include max-width('small') {
			right: 10px;
			margin-top: -6px;
	}
	@include max-width('small') {
		margin-bottom: 70px;
		.slick{
			&-prev{
				top: 92%;
				left: 25px;
				height: 25px;
				width: 25px;
			}
			&-next{
				top: 92%;
				left: 60px !important;
				height: 25px;
				width: 25px;
			}
		}
	}
		
}