@keyframes moveBorderGradient {
	0% {
		border-image: 
		    linear-gradient(
		      to right, 
		      #F0B994, 
		      #D9BDFF
		    ) 1;
	}
	50% {
		border-image: 
		    linear-gradient(
		      to right, 
		      #D9BDFF,
		      #F0B994, 
		    ) 1;
	}
	100% {
		border-image: 
		    linear-gradient(
		      to right, 
		      #F0B994, 
		      #D9BDFF
		    ) 1;
	}
}

@keyframes moveGradient {
	0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


@keyframes fadeIn {
	0%{opacity: 0}
    100%{opacity: 1}
}

@keyframes fadeInBack {
	0%{opacity: 0}
    100%{opacity: 1}
}

@keyframes fadeOutBack {
	0%{opacity: 1}
    100%{opacity: 0}
}

@keyframes bounce-4 {
        0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(-20px); }
        50%  { transform: scale(1,1)    translateY(0); }
        100% { transform: scale(1,1)    translateY(0); }
    }

