// Breakpoints
$bp-mobile: 375px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1280px;
$bp-xlarge: 1440px;
$bp-xxlarge: 1920px;


// Media Queries
$mq-mobile: "(min-width: #{$bp-mobile})";
$mq-tablet-port: "(min-width: #{$bp-small})";
$mq-tablet-desk: "(min-width: #{$bp-medium})";
$mq-desk-small: "(min-width: #{$bp-large})";
$mq-desk-medium: "(min-width: #{$bp-xlarge})";
$mq-desk-large: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";